controllers:
  main:
    containers:
      main:
        image:
          repository: getwud/wud
          tag: "8.1.1"
          pullPolicy: IfNotPresent
        ports:
          - name: http
            containerPort: 3000
            protocol: TCP
        env:
          - name: LOG_LEVEL
            value: "info"
          - name: WUD_WATCHER__0__TYPE
            value: "docker"
        resources: {}

envFromSecret: ""

service:
  main:
    controller: main
    ports:
      http:
        port: 3000
        primary: true

ingress:
  main:
    enabled: false
    className: ""
    annotations: {}
    hosts:
      - host: wud.local
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls: []

serviceAccount:
  wud:
    enabled: false
    annotations: {}
    labels: {}
    # forceRename: ""

podAnnotations: {}
podLabels: {}
