repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [ -c, .yamllint.yml ]
        files: \.(yml|yaml)$

  - repo: local
    hooks:
      - id: helm-lint
        name: helm lint (changed charts)
        entry: .ci/pre-commit/helm-lint.sh
        language: system
        pass_filenames: false
        files: ^charts/
