controllers:
  main:
    containers:
      main:
        image:
          repository: mpepping/cyberchef
          tag: v10.19.4
          pullPolicy: IfNotPresent
        ports:
          - name: http
            containerPort: 8000
            protocol: TCP
        env: []
        resources: {}

service:
  main:
    controller: main
    ports:
      http:
        port: 80
        primary: true

ingress:
  main:
    enabled: false
    className: ""
    annotations: {}
    hosts:
      - host: cyberchef.local
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls: []

serviceAccount:
  cyberchef:
    enabled: false
    annotations: {}
    labels: {}
    # forceRename: ""

podAnnotations: {}
podLabels: {}
