controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/corentinth/it-tools
          tag: 2024.10.22-7ca5933
          pullPolicy: IfNotPresent
        ports:
          - name: http
            containerPort: 80
            protocol: TCP
        env: []
        resources: {}

service:
  main:
    controller: main
    ports:
      http:
        port: 80
        primary: true

ingress:
  main:
    enabled: false
    className: ""
    annotations: {}
    hosts:
      - host: it-tools.local
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls: []

serviceAccount:
  it-tools:
    enabled: false
    annotations: {}
    labels: {}
    # forceRename: ""

podAnnotations: {}
podLabels: {}
