{{- include "bjw-s.common.loader.init" . }}

{{- if not (kindIs "map" .Values.serviceAccount) -}}
{{- $_ := set .Values "serviceAccount" dict -}}
{{- end -}}
{{- $sa := get .Values.serviceAccount "wud" | default dict -}}
{{- if and $sa.enabled (not (kindIs "map" .Values.controllers)) -}}
{{- $_ := set .Values "controllers" dict -}}
{{- end -}}
{{- if and $sa.enabled (not (hasKey .Values.controllers "main")) -}}
{{- $_ := set .Values.controllers "main" dict -}}
{{- end -}}
{{- if and $sa.enabled (not (hasKey .Values.controllers.main "serviceAccount")) -}}
{{- $_ := set .Values.controllers.main "serviceAccount" (dict "identifier" "wud") -}}
{{- end -}}

{{- if .Values.envFromSecret }}
{{- $controller := get .Values.controllers "main" | default dict -}}
{{- $container := get $controller "containers" | default dict -}}
{{- $main := get $container "main" | default dict -}}
{{- $envFrom := get $main "envFrom" | default list -}}
{{- $envFrom = append $envFrom (dict "secretRef" (dict "name" .Values.envFromSecret)) -}}
{{- $_ := set $main "envFrom" $envFrom -}}
{{- $_ := set $container "main" $main -}}
{{- $_ := set $controller "containers" $container -}}
{{- $_ := set .Values.controllers "main" $controller -}}
{{- end }}

{{- include "bjw-s.common.loader.generate" . }}
