apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "bjw-s.common.lib.chart.names.fullname" . }}-docker-daemon
  labels:
    {{- include "bjw-s.common.lib.metadata.allLabels" . | nindent 4 }}
data:
  daemon.json: |
    {
      "registry-mirrors": {{ toJson .Values.daemonConfig.registryMirrors }},
      "insecure-registries": {{ toJson .Values.daemonConfig.insecureRegistries }},
      "features": { "buildkit": {{ ternary "true" "false" .Values.daemonConfig.features.buildkit }} }
    }
